* {
    text-align: center;
}

a {
    font-family: Poppins, sans-serif;
    display: block;
    color: black;
    padding: 16px;
    font-size: 14pt;
    text-decoration: none;
}

.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
}

.div2 {
    grid-area: 1 / 2 / 2 / 3;
}

.div3 {
    grid-area: 1 / 3 / 2 / 4;
}

.div4 {
    grid-area: 2 / 2 / 3 / 3;
}

img {
    width: 10vw;
}

h1 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: rgb(43, 52, 75);
    font-size: 17pt;
}

.div3 {

}

